html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    color: white;
    }

main {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    margin: 0;
    max-width: 400px;
    box-sizing: border-box;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

input {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
}
button {
    color: dimgrey;
    background: lightblue;
    padding: 0.5rem;
}

.red {
    background: darkred;
    color: azure;
}
td{
    text-align: center;
}